html, body {
	width: 100%;
	height: 100%;
	font-size: 0;
	margin: 0;
}

.player {
	float: left;
}

.full {
	width: 100%;
	height: 100%;
}

.half-vertical {
	width: 100%;
	height: 50%;
}

.half-horizontal {
	width: 50%;
	height: 100%;
}

.third-outer {
	width: 100%;
	height: 33%;
}

.third-inner {
	width: 100%;
	height: 34%;
}

.quarter {
	width: 50%;
	height: 50%;
}