html, body {
	width: 100vw;
	height: 100vh;
	min-width: 100%;
	min-height: 100%;
	font-size: 0;
	margin: 0;
	background-color: #000;
}

#main {
	display: block;
	color: #fff;
	font-size: medium;
	text-align: center;
}

#logo {
	width: 150px;
	height: 150px;
	margin-top: 10px;
}

.textInput {
	width: 90vw;
	min-width: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 8px;
	text-indent: 8px;
}

#start {
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

.full {
	float: left;
	width: 100vw;
	height: 100vh;
	min-width: 100%;
	min-height: 100%;
}

.half-vertical {
	float: left;
	width: 100vw;
	height: 50vh;
	min-width: 100%;
	min-height: 50%;
}

.half-horizontal {
	float: left;
	width: 50vw;
	height: 100vh;
	min-width: 50%;
	min-height: 100%;
}

.third-outer {
	float: left;
	width: 100vw;
	height: 33vh;
	min-width: 100%;
	min-height: 33%;
}

.third-inner {
	float: left;
	width: 100vw;
	height: 34vh;
	min-width: 100%;
	min-height: 34%;
}

.quarter {
	float: left;
	width: 50vw;
	height: 50vh;
	min-width: 50%;
	min-height: 50%;
}